.chatSection {
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.conversationSection {
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0;
}