$secondary: #8696a0;
$teal-light: #7ae3c3;
$photopicker-overlay-background: rgba(30, 42, 49, 0.8);
$dropdown-background: #233138;
$dropdown-background-hover: #182229;
$input-background: #2a3942;
$primary-strong: #e9edef;
$panel-header-background: #202c33;
$panel-header-icon: #aebac1;
$icon-lighter: #8696a0;
$icon-green: #00a884;
$search-input-container-background: #111b21;
$conversation-border: rgba(134, 150, 160, 0.15);
$conversation-panel-background: #0b141a;
$background-default-hover: #202c33;
$incoming-background: #202c33;
$outgoing-background: #005c4b;
$bubble-meta: hsla(0, 0%, 100%, 0.6);
$icon-ack: #53bdeb;

.ContactSearchParent {

    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    background-color: $search-input-container-background;

    .chatSearchBar {
        width: 100%;
        height: fit-content;
        padding: 0.7em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.7em;
        background-color: $panel-header-background;

        svg {
            color: $panel-header-icon;
        }

        .searchBar {
            width: 100%;
            background-color: $input-background;
            padding: 0.4em;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 4px;

            svg {
                color: $panel-header-icon;
                font-size: 0.8em;
            }

            input {
                width: 100%;
                background-color: $input-background;
                border: 0;
                outline: none;
                padding: 0.2em;
                padding-left: 1em;
                font-size: 0.8em;
                color: $icon-lighter;
            }

            input::placeholder {
                color: $icon-lighter;
            }

        }

    }

    .contactSearchContacts {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: $search-input-container-background;

        .letter {
            width: 100%;
            padding: 0.5em;
            color: $panel-header-icon;
            font-weight: normal;
            text-align: left;
            font-size: 1.2em;
        }

        .chatSearchContact {

            width: 100%;
            height: fit-content;
            padding: 0.5em;
            background-color: $search-input-container-background;
            cursor: pointer;
            border-top: 1px solid $conversation-border;
            border-bottom: 1px solid $conversation-border;
            transition: background-color 0.1s ease;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.8em;

            &:hover {
                background-color: $input-background;
            }

            img {
                width: 2.3em;
                height: 2.3em;
                object-fit: cover;
                object-position: center;
                border-radius: 100%;
                background-color: $outgoing-background;
                cursor: pointer;
            }

            h4 {
                font-size: 0.9em;
                color: $panel-header-icon;
                width: 100%;
                text-align: left;
                font-weight: bold;
            }

        }

    }

}