$secondary: #8696a0;
$teal-light: #7ae3c3;
$photopicker-overlay-background: rgba(30, 42, 49, 0.8);
$dropdown-background: #233138;
$dropdown-background-hover: #182229;
$input-background: #2a3942;
$primary-strong: #e9edef;
$panel-header-background: #202c33;
$panel-header-icon: #aebac1;
$icon-lighter: #8696a0;
$icon-green: #00a884;
$search-input-container-background: #111b21;
$conversation-border: rgba(134, 150, 160, 0.15);
$conversation-panel-background: #0b141a;
$background-default-hover: #202c33;
$incoming-background: #202c33;
$outgoing-background: #005c4b;
$bubble-meta: hsla(0, 0%, 100%, 0.6);
$icon-ack: #53bdeb;
$red: rgb(229, 71, 71);
$yellow: #e4a912;

@mixin centerProfileText($fontSize) {
    width: 100%;
    height: fit-content;
    text-align: center;
    color: $panel-header-icon;
    font-size: $fontSize;
    font-weight: normal;
}

@mixin mediaBox() {
    width: 100px;
    height: 100px;
    border-radius: 6px;
}

.profileSection {
    width: calc(100vw - 400px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5em;
    background-color: $conversation-panel-background;

    .dataSection {
        width: 100%;
        height: fit-content;
        background-color: $search-input-container-background;
        padding: 1.5em;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;

        .profile-back-button {
            color: $panel-header-icon;
            position: absolute;
            top: 1em;
            left: 1em;
        }

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            object-position: center;
            border-radius: 400px;
            background-color: $outgoing-background;
        }

        h4 {
            @include centerProfileText(1.5em);
        }

        p {
            @include centerProfileText(1em);
        }

    }

    .mediaSection {

        width: 100%;
        height: fit-content;
        background-color: $search-input-container-background;
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1em;

        .mediaCount {
            width: 100%;
            height: fit;
            background-color: $search-input-container-background;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                @include centerProfileText(0.8em);
                width: fit-content;
                text-align: left;
            }

            div {

                width: fit-content;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 0.2em;
                cursor: pointer;

                svg {
                    color: $panel-header-icon;
                    font-size: 0.8em;
                }

            }

        }

        .media-sect {

            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0.5em;
            overflow-x: auto;
            overflow-y: hidden;

            &::-webkit-scrollbar {
                display: none;
            }

            &::-moz-scrollbar {
                display: none;
            }

            .audioMediaBox {
                @include mediaBox();
                background-color: $yellow;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1em;
                cursor: pointer;

                svg {
                    color: $primary-strong;
                    font-size: 1.8em;
                }

                p {
                    @include centerProfileText(0.9em);
                    color: $primary-strong;
                    text-transform: capitalize;
                    width: 100px;
                }

            }

            .imageMediaBox {
                @include mediaBox();
                cursor: pointer;

                img {
                    @include mediaBox();
                    object-fit: cover;
                    object-position: center;
                }

            }

        }

    }

}