.profileSection {
  width: calc(100vw - 400px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5em;
  background-color: #0b141a;
}
.profileSection .dataSection {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #111b21;
  padding: 1.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}
.profileSection .dataSection .profile-back-button {
  color: #aebac1;
  position: absolute;
  top: 1em;
  left: 1em;
}
.profileSection .dataSection .image-sts {
  position: relative;
}
.profileSection .dataSection .image-sts img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 400px;
  background-color: #005c4b;
}
.profileSection .dataSection h4 {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  color: #aebac1;
  font-size: 1.5em;
  font-weight: normal;
}
.profileSection .dataSection p {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  color: #aebac1;
  font-size: 1em;
  font-weight: normal;
}
.profileSection .mediaSection {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #111b21;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}
.profileSection .mediaSection .mediaCount {
  width: 100%;
  height: fit;
  background-color: #111b21;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profileSection .mediaSection .mediaCount p {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  color: #aebac1;
  font-size: 0.8em;
  font-weight: normal;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
}
.profileSection .mediaSection .mediaCount div {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.2em;
  cursor: pointer;
}
.profileSection .mediaSection .mediaCount div svg {
  color: #aebac1;
  font-size: 0.8em;
}
.profileSection .mediaSection .media-sect {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5em;
  overflow-x: auto;
  overflow-y: hidden;
}
.profileSection .mediaSection .media-sect::-webkit-scrollbar {
  display: none;
}
.profileSection .mediaSection .media-sect::-moz-scrollbar {
  display: none;
}
.profileSection .mediaSection .media-sect .audioMediaBox {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  background-color: #e4a912;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}
.profileSection .mediaSection .media-sect .audioMediaBox svg {
  color: #e9edef;
  font-size: 1.8em;
}
.profileSection .mediaSection .media-sect .audioMediaBox p {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  color: #aebac1;
  font-size: 0.9em;
  font-weight: normal;
  color: #e9edef;
  text-transform: capitalize;
  width: 100px;
}
.profileSection .mediaSection .media-sect .imageMediaBox {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  cursor: pointer;
}
.profileSection .mediaSection .media-sect .imageMediaBox img {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.profileSection .profile-option {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #111b21;
  padding: 1.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
.profileSection .profile-option svg,
.profileSection .profile-option p {
  color: #aebac1;
}
.profileSection .profile-option:hover {
  background-color: #233138;
}/*# sourceMappingURL=Main.css.map */